@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "aeonik";
    src: url("/fonts/Aeonik-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/fonts/Aeonik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/fonts/Aeonik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "aeonik";
    src: url("/fonts/Aeonik-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}

@layer components {
  .gradient-title {
    background: linear-gradient(
      180deg,
      #fdfdfd 43.1%,
      rgba(253, 253, 253, 0) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-border {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px; /* Border width */
    border-radius: 20px;
    background: linear-gradient(
      20deg,
      #fdfdfd 0%,
      rgba(253, 253, 253, 0) 100%
    ); /* Gradient colors */
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  .gradient-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      0deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(16, 11, 51, 0.7217480742296919) 23%,
      rgba(16, 11, 51, 0) 100%
    );
  }
  .gradient-sphere {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    filter: blur(200px);
  }
  .sphere-1 {
    background: radial-gradient(circle, #390a2f, #6e2560);
    top: -100px;
    left: 300px;
    animation: wander-left 10s ease-in-out infinite;
  }
  .sphere-2 {
    background: radial-gradient(circle, #202fb2, #07137d);
    top: 100px;
    right: 300px;
    animation: wander-right 12s ease-in-out infinite;
  }
  /* tech stack */
  .about-gradient-sphere {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(250px);
  }
  .about-sphere-1 {
    background: radial-gradient(circle, #ff28d5, #ff28d5);
    bottom: 300px;
    right: 150px;
    animation: wander-left 10s ease-in-out infinite;
  }
  .about-sphere-2 {
    background: radial-gradient(circle, #1c34ff, #1c34ff);
    bottom: 100px;
    right: 50px;
  }
  .tech-stack-gradient-left-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0.6601234243697479) 53%,
      rgba(16, 11, 51, 0) 100%
    );
  }
  .tech-stack-gradient-right-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      -90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0.6601234243697479) 53%,
      rgba(16, 11, 51, 0) 100%
    );
  }

  /* projects */
  .projects-gradient-sphere {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    filter: blur(180px);
  }
  .projects-sphere-1 {
    background: radial-gradient(circle, #7c1c69, #630650);
    top: 300px;
    left: 50px;
  }
  .projects-sphere-2 {
    background: radial-gradient(circle, #0c1566, #0d187c);
    top: 400px;
    right: 150px;
  }
  /* carousel */
  .carousel-gradient-left-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0) 100%,
      rgba(11, 6, 32, 0) 100%
    );
  }

  .carousel-gradient-right-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      -90deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(11, 6, 32, 0) 100%,
      rgba(11, 6, 32, 0) 100%
    );
  }

  /* nav-side-bar */
  .side-bar-bg {
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    background: rgba(23, 21, 31, 0.7);
    backdrop-filter: blur(10px);
  }

  .card-content {
    padding: 20px;
    color: white;
    width: 250px;
  }
  .card-content h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
  }
  .card-content ul {
    padding-left: 20px;
  }
  .card-content li {
    margin-bottom: 8px;
    font-size: 0.9em;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@theme {
  --font-sans: "aeonik";
  --color-blue-50: #598eff;
  --color-blue-300: #1c34ff;
  --color-white-50: #fdfdfd;
  --color-black-100: #0b0620;
  --color-black-300: #17151f;
  --color-pink-100: #ff28d5;
  --color-primary: #a7a7a7;
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--color-black-100);
  color: var(--color-primary);
}

section {
  width: 100dvw;
  min-height: 100dvh;
}

@keyframes wander-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20vw) translateY(50vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes wander-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30vw) translateY(-50vh);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes half-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  100% {
    transform: rotateZ(60deg) translate(1em, -15em);
  }
}
